<section class="content">
    <!-- HeadSection -->
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Categories", categories_path %></li>
                <li><%= link_to @category.title, category_path(@category) %></li>
                <li class="active"><%= @forum.title %></li>
            </ol>  
        </div>
    </div>

    <!-- Actions -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1><%= @forum.title %></h1>
                <%= link_to raw("<i class='fa fa-arrow-left'></i>"+" Back"), category_path(@category), class: "btn btn-secondary" %>
                <% if user_signed_in? %>
                <% if current_user.admin? %>
                <%= link_to "Editer le Forum", edit_category_forum_path(@category, @forum), class:"btn btn-warning btn-sm" %>
                <%= link_to "Supprimer le Forum", category_forum_path(@category, @forum), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger btn-sm" %>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <!-- /Actions -->
    <!-- /HeadSection -->
    <br>
    <!-- POSTsSection --> 
    <div class="container">
        <div class="row"> <!-- ICI -->
            <div class="col-lg-9 col-md-9">

                <!-- -->
                <!-- PostSection -->
                <% @posts.each do |post| %>
                <div class="post">
                    <div class="topwrap" id="<%= post.id%>.post">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <%= image_tag('avatar.jpg') %>
                                <div class="status green">&nbsp;</div>
                            </div>
                        </div>
                        <div class="posttext pull-left">
                            <h2><%= post.title.capitalize %></h2>
                            <p><%= post.content %></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div class="postinfobot">

                        <div class="likeblock pull-left">
                            <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>10</a>
                            <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>1</a>
                        </div>

                        <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posté le : <%= post.created_at.strftime("%d %b a %H:%M")%> par <%= link_to User.find(post.user_id).name, "/users/"+post.user_id.to_s %></div>

                        <div class="pull-right">
                            <button type="button" class="badge badge-success" data-toggle="collapse" data-target="#<%= post.id %>" style="outline: none"><%= post.comments.count %> Commentaires</button>
                            <% if user_signed_in? %>
                            <% if current_user.id == post.user_id || current_user.admin? %>
                            <%= link_to "Editer", edit_category_forum_post_path(@category, @forum, post), class:"btn-success btn-sm" %>
                            <%= link_to "Supprimer", category_forum_post_path(@category, @forum, post), method: :delete, data: { confirm: "Are you sure?" }, class:"btn-danger btn-sm" %>                                      
                            <% end %>
                            <% end %>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <!-- /PostSection -->
                    <!-- CommentSection -->
                    <div id="<%= post.id %>" class="collapse in">
                        <%= render 'comments/comment', post: post, comments: post.comments %>
                    </div>
                    <!-- CommentForm -->
                    <% if user_signed_in? %>

                    <%= form_tag(category_forum_post_comments_path(@category, @forum, post), :method => :post, class: 'form newtopic') do  %>
                    <div class="topwrap">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <%= image_tag('avatar.jpg') %>
                                <div class="status red">&nbsp;</div>
                            </div>
                        </div>
                        <div class="posttext pull-left">

                            <div>
                                <%= text_field_tag :content, nil, placeholder: 'Commenter', class: 'form-control' %>
                            </div>
                        </div>
                    </div>                              
                    <div class="postinfobot">

                        <div class="pull-right postreply">
                            <div class="pull-left"><%= submit_tag "Envoyer", class: "btn btn-primary" %></div>

                            <div class="clearfix"></div>
                        </div>


                        <div class="clearfix"></div>
                    </div>
                    <% end %>

                    <% else %>

                    <%= form_tag(category_forum_post_comments_path(@category, @forum, post), :method => :post, class: 'form newtopic') do  %>
                    <div class="topwrap">
                        <div class="userinfo pull-left">
                        </div>
                        <div class="posttext pull-left">

                            <div>
                                <%= text_field_tag :content, nil, placeholder: 'Commenter', class: 'form-control', :disabled => true %>
                            </div>
                        </div>
                    </div>                              
                    <div class="postinfobot">

                        <div class="pull-right postreply">
                            <div class="pull-left"><%= submit_tag "Envoyer", class: "btn btn-primary", :disabled => true %></div>

                            <div class="clearfix"></div>
                        </div>


                        <div class="clearfix"></div>
                    </div>
                    <% end %>
                    <% end %>

                    <!-- /CommentForm -->
                    <!-- /CommentSection -->
                </div>
                <% end %>
                <!-- /POSTsSection -->


                <!-- PostForm -->
                <% if user_signed_in? %>
                <div class="post">
                    <%= form_tag(category_forum_posts_path(@category, @forum), :method => :post, class: 'form newtopic') do  %>
                    <div class="topwrap" id="createpost">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <%= image_tag('avatar.jpg') %>
                                <div class="status red">&nbsp;</div>
                            </div>
                        </div>
                        <div class="posttext pull-left">
                            <h2>Nouveau Post</h2>
                            <div>
                                <%= text_field_tag :title, nil, placeholder: 'Titre de votre Post', class: 'form-control' %>
                            </div>

                            <div>
                                <%= text_area_tag :content, nil, placeholder: 'Description', id: 'desc', class: 'form-control' %>
                            </div>
                        </div>
                    </div>                              
                    <div class="postinfobot">

                        <div class="pull-right postreply">
                            <div class="pull-left"><%= submit_tag "Envoyer", class: "btn btn-primary" %></div>

                            <div class="clearfix"></div>
                        </div>


                        <div class="clearfix"></div>
                    </div>
                    <% end %>
                </div>

                <% else %>

                <div class="post">
                    <%= form_tag(category_forum_posts_path(@category, @forum), :method => :post, class: 'form newtopic') do  %>
                    <div class="topwrap"  id="createpost">
                        <div class="userinfo pull-left">
                        </div>
                        <div class="posttext pull-left">
                            <h2>Nouveau Post</h2>
                            <div>
                                <%= text_field_tag :title, nil, placeholder: 'Titre de votre Post', class: 'form-control', :disabled => true %>
                            </div>

                            <div>
                                <%= text_area_tag :content, nil, placeholder: 'Description', id: 'desc', class: 'form-control', :disabled => true %>
                            </div>
                        </div>
                    </div>                              
                    <div class="postinfobot">

                        <div class="pull-right postreply">
                            <div class="pull-left"><%= submit_tag "Envoyer", class: "btn btn-primary", :disabled => true %></div>

                            <div class="clearfix"></div>
                        </div>


                        <div class="clearfix"></div>
                    </div>
                    <% end %>
                </div>
                <% end %>
                <!-- /PostForm -->
            </div>
            <!-- SideBar -->

            <div class="col-lg-3 col-md-3" id="myScrollspy">

                <!-- -->
                <div class="sidebarblock">
                    <h3>Posts<span class="pull-right"> <a href="#createpost">Créer un post</a></span></h3>
                    <div class="divline"></div>
                    <div class="blocktxt">
                        <ul class="nav nav-pills nav-stacked cats">
                            <% @posts.each do |post| %>
                            <li><a href="#<%= post.id%>.post"><%= post.title%> <span class="badge pull-right"><%= post.comments.count %></span></a></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- /SideBar -->
        </div>

    </div>
</section>