

<!---------------------------- TEST ----------------------------->

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 breadcrumbf">
        <a href="#">Edit <%= resource_name.to_s.humanize %></a> 
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">

        <!-- POST -->
        <div class="post">
          <div class="form newtopic">
            <div class="postinfotop">
              <h2>Modifier mon profil</h2>
            </div>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

            <!-- acc section -->
            <div class="accsection">

              <div class="topwrap">


                <div class="posttext pull-left">
                  <div class="row">
                    <div class="col-lg-4 col-md-4">
                      <%= f.text_field :name, autofocus: true, :placeholder=>"name", :class=>"form-control" %>
                    </div>

                    <div class="col-lg-4 col-md-4">
                      <%= f.text_field :illness, autofocus: true, :placeholder=>"illness", :class=>"form-control" %>
                    </div>

                    <div class="col-lg-4 col-md-4">
                      <%= f.text_field :city, autofocus: true, autocomplete: "city", :placeholder=>"city", :class=>"form-control" %>
                    </div>
                  </div>

                  <div>
                    <%= f.text_field :description, autofocus: true, :placeholder=>"description", :class=>"form-control" %>
                  </div>

                  <div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder=>"Email", :class=>"form-control", :id=>"register-email" %><br />
                  </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <%= f.password_field :password, autocomplete: "new-password", :placeholder=>"New Password", :class=>"form-control", :id=>"pass" %><i>(leave blank if you don't want to change it)</i><br />
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                    </div>

                    <div class="col-lg-6 col-md-6">
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder=>"New Password", :class=>"form-control", :id=>"pass2" %>
                    </div>
                  </div>

                    <div>
                      <%= f.password_field :current_password, autocomplete: "current-password", :placeholder=>"Current Password", :class=>"form-control" %>
                      <i>(we need your current password to confirm your changes)</i>
                    </div>

                </div>
                <div class="clearfix"></div>
              </div>  
            </div><!-- acc section END -->


            <div class="postinfobot">

              <div class="pull-right postreply">
                <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                <div class="pull-left"><%= f.submit "Update", :id=>"reg-submit", :class=>"btn btn-primary" %></div>
              </div>
              
              <div class="clearfix"></div>
            </div>
 
            <% end %>

          </div><!-- POST -->
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-lg-8 breadcrumbf">
          <a href="#">Unhappy ?</a> 
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">

          <!-- POST -->
          <div class="post">
            <div class="form newtopic">
              <div class="postinfotop">
                <h2>Cancel my account</h2>
              </div>

              <!-- acc section -->
              <div class="accsection">

                <div class="posttext pull-left">
                  <div class="row">

                    <div class="col-lg-4 col-md-4 col-xs-4">
                      <p>Unhappy?</p>
                    </div>

                    <div class="col-lg-5 col-md-5 col-xs-5">
                      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xs-3">
                      <%= link_to "Back", :back %>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>  
            </div><!-- acc section END -->
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
