<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 breadcrumbf">
        <a href="#">Modifier <%= resource_name.to_s.humanize %></a> 
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">

        <!-- POST -->
        <div class="post">
          <div class="form newtopic">
            <div class="postinfotop">
              <h2>Modifier mon profil</h2>
            </div>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

            <!-- acc section -->
            <div class="accsection">

              <div class="topwrap">


                <div class="posttext pull-left">
                  <div class="row">
                    <div class="col-lg-4 col-md-4">
                      <%= f.text_field :name, autofocus: true, :placeholder=>"Prénom", :class=>"form-control" %>
                    </div>

                    <div class="col-lg-4 col-md-4">
                      <%= f.text_field :illness, autofocus: true, :placeholder=>"Maladie", :class=>"form-control" %>
                    </div>

                    <div class="col-lg-4 col-md-4">
                      <%= f.text_field :city, autofocus: true, autocomplete: "city", :placeholder=>"Ville", :class=>"form-control" %>
                    </div>
                  </div>

                  <div>
                    <%= f.text_field :description, autofocus: true, :placeholder=>"Description", :class=>"form-control" %>
                  </div>

                  <div>
                    <%= f.text_field :email, autofocus: true, autocomplete: "email", :placeholder=>"Email", :class=>"form-control", :id=>"register-email" %><br />
                  </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <%= f.password_field :password, autocomplete: "new-password", :placeholder=>"Nouveau Mot de Passe", :class=>"form-control", :id=>"pass" %><i>(Optionnel)</i><br />
                    </div>

                    <div class="col-lg-6 col-md-6">
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder=>"Nouveau Mot de Passe", :class=>"form-control", :id=>"pass2" %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> caractères minimums)</em>
                      <% end %><br />
                    </div>
                  </div>

                    <div>
                      <%= f.password_field :current_password, autocomplete: "current-password", :placeholder=>"Mot de passe actuel", :class=>"form-control" %>
                      <i>(Rentrez votre mot de passe actuelle pour confirmer les changements)</i>
                    </div>

                </div>
                <div class="clearfix"></div>
              </div>  
            </div><!-- acc section END -->


            <div class="postinfobot">

              <div class="pull-right postreply">
                <div class="pull-left">
                  <%= f.submit "Mise à jour", :id=>"reg-submit", :class=>"btn btn-success" %></div>
              </div>
              
              <div class="clearfix"></div>
            </div>
 
            <% end %>

          </div><!-- POST -->
        </div>
      </div>
    </div>

  <!-- UNHAPPY  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 breadcrumbf">
          <a href="#">Insatisfé ?</a> 
        </div>
      </div>
    </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8">

              <!-- POST -->
              <div class="post">
                <div class="form newtopic">
                  <div class="postinfotop">
                    <h2>Suprimer mon compte</h2>
                  </div>

                      <!-- acc section -->
                  <div class="accsection">
                    <div class="postinfotop">
                      <div class="posttext pull-left">
                        <div class="row">

                        <div class="col-lg-5 col-md-5 col-xs-5">
                          <%= link_to "Retour", :back %>
                        </div>
                      

                        <div class="col-lg-7 col-md-7 col-xs-7">
                          <div class="pull-right postreply">
                            <div class="pull-left">
                              <%= button_to "Suprimer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sûr ?" }, method: :delete, class: "btn btn-danger" %>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  <div class="clearfix"></div>
                </div>
              </div>  
            </div><!-- acc section END -->
          </div>
        </div>
      </div>
    </div>
  <!-- / UNHAPPY  -->

  </div>
</div>
