<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 breadcrumbf">
                <h1>Create New account</h1> 
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">

                <!-- POST -->
                <div class="post">
                    <div class="form newtopic">
                        <div class="postinfotop">
                        </div>

                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>

                        <!-- acc section -->
                        <div class="accsection">

                            <div class="topwrap">


                                <div class="posttext pull-left">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <%= f.text_field :name, autofocus: true, :placeholder=>"Prénom", :class=>"form-control" %>
                                        </div>

                                        <div class="col-lg-4 col-md-4">
                                            <%= f.text_field :illness, autofocus: true, :placeholder=>"Maladie", :class=>"form-control" %>
                                        </div>

                                        <div class="col-lg-4 col-md-4">
                                            <%= f.text_field :city, autofocus: true, autocomplete: "city", :placeholder=>"Ville", :class=>"form-control" %>
                                        </div>
                                    </div>

                                    <div>
                                        <%= f.text_field :description, autofocus: true, :placeholder=>"Description", :class=>"form-control" %>
                                    </div>

                                    <div>
                                        <%= f.text_field :email, autofocus: true, autocomplete: "email", :placeholder=>"Email", :class=>"form-control", :id=>"register-email" %><br />
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <%= f.password_field :password, autocomplete: "new-password", :placeholder=>"Mot de Passe", :class=>"form-control", :id=>"pass" %>
                                            <% if @minimum_password_length %>
                                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                                            <% end %><br />
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder=>"Confirmation Mot de Passe", :class=>"form-control", :id=>"pass2" %>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>  
                        </div><!-- acc section END -->


                        <div class="postinfobot">

                            <div class="pull-left postreply">
                                <div class="pull-left"><%= f.submit "S'enregistrer", :id=>"reg-submit", :class=>"btn btn-primary" %></div>
                            </div>
                            <div class="pull-right postreply">
                                <%= render "devise/shared/links" %>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <% end %>

                    </div><!-- POST -->
                </div>
            </div>
        </div>
    </div>

</div>