<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forum :: Home Page</title>

</head>

<!-- //Slider -->

<body> 

<!--         <div class="container-fluid">
-->
<div class="content">

  <div class="container">
    <div class="row">

      <!-- POST -->
      <div class="col-lg-12 col-md-12" style="margin-top:1%">
        <div class="post">
          <div class="call_to_action" >
            <strong style="font-size:25px">Echange et mise en contact</strong><br />
            <strong style="font-size:20px">Forum de discussions traitant uniquement de votre maladie</strong>
          </div>
          <div class="clearfix"></div>
        </div>  
      </div>
      <!-- POST -->

      <!-- POST AND CATEGORIES -->

      <!-- POST -->
      <div class="col-g-9 col-md-9">
        <% @posts.last(3).each do |post| %>
        <div class="post">
          <div class="topwrap">
            <div class="userinfo pull-left">
              <div class="avatar">
                <%= image_tag('avatar.jpg') %>
                <div class="status green">&nbsp;</div>
              </div>
            </div>
            <div class="posttext pull-left">
              <h2><%= link_to post.title.capitalize, category_forum_path(Forum.find(post.forum_id).category_id, post.forum_id) %></h2>
              <p><%= post.content %></p>

            </div>
            <div class="clearfix"></div>
          </div>
          <div class="postinfobot">

            <div class="likeblock pull-left">
              <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>10</a>
              <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>1</a>
            </div>

            <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posté le : <%= post.created_at.strftime("%d %b a %H:%M") %> par <%= link_to User.find(post.user_id).name, "/users/"+post.user_id.to_s %></div>

            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <% end %>
      </div>

      <!--/ POST -->

      <!-- CATEGORIES -->
      <div class="col-lg-3 col-md-3">
        <div class="sidebarblock">
          <h3><%= link_to 'CATEGORIES', categories_path %></h3>
          <div class="divline"></div>
          <div class="blocktxt">
            <a href="/"><%= image_tag('icons-heart-1.png') %>  Maladies cardio-vasculaires</a>
          </div>
          <div class="divline"></div>
          <div class="blocktxt">
            <a href="/"><%= image_tag('icons-brain-1.png') %>  Maladies mentales</a>
          </div>
          <div class="divline"></div>
          <div class="blocktxt">
            <a href="/"><%= image_tag('icons-virus-1.png') %>   Maladies infectieuses</a>
          </div>
          <div class="divline"></div>
          <div class="blocktxt">
            <a href="/"><%= image_tag('icons-kidney-1.png') %>  Maladies respiratoires</a>
          </div>
          <div class="divline"></div>
          <div class="blocktxt">
            <a href="/"><%= image_tag('icons-lungs-1.png') %>  Liste de cancers</a>
          </div>
          <div class="divline"></div>
          <div class="blocktxt">
            <a href="/"><%= image_tag('icons-skin-1.png') %>  Maladies dermatologiques</a>
          </div>
          <div class="divline"></div>
          <div class="blocktxt">
            <a href="/"><%= image_tag('icons-eye-1.png') %>  Maladies oculaires</a>
          </div>
          <div class="divline"></div>
          <div class="blocktxt">
            <a href="/"><%= image_tag('icons-clover-1.png') %>  Maladies rares</a>
          </div>
        </div>
      </div>
      <!--/ CATEGORIES -->
    </div>
  </div>
</div>
<!-- POST AND CATEGORIES -->

<!-- 
<div id="category_content" class="flex-container">
<div class="row">
<div class="col-xl-12 mx-auto">
<span>
<h2><a href="/">Category</a></h2>
</span>
</div>
</div>
</div> -->


</body>

</html>