<section class="content">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Categories", categories_path %></li>
                <li class="active"><%= @category.title %></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h2><%= @category.title %></h2>

                <%= link_to raw("<i class='fa fa-arrow-left'></i>"+" Back"), categories_path, class: "btn btn-secondary" %>
                <% if user_signed_in? %>
                <% if current_user.admin? %>
                <%= link_to "Editer la Categorie", edit_category_path(@category), class: "btn-warning btn-sm" %>
                <%= link_to "Supprimer la Categorie", category_path(@category), method: :delete, data: { confirm: "Are you sure?" }, :method => :delete, class: "btn-danger btn-sm" %>
                <% end %>
                <%= link_to "Créer un nouveau Forum", new_category_forum_path(@category), class: "btn-success btn-sm" %>
                <% end %>

                <button class="btn-warning btn-sm" data-toggle="modal" data-target="#howto">Comment ça marche ?</button>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <% @category.forums.each do |forum| %>
                <div class="post">
                    <div style="padding: 10px 94px 10px 94px ">
                        <h2><%= link_to forum.title, category_forum_path(@category, forum) %></h2>
                        <% if forum.posts.size > 0 %>
                        <p>Dernier post le : <%= forum.posts.last.created_at.strftime("%A %d %B %Y a %H:%M") %></p>
                        <% else %>
                        <p>Il n'y a actuellement pas de posts.</p>
                        <% end %>
                    </div>
                    <% if user_signed_in? %>
                    <% if current_user.admin? %>
                    <div class="postinfobot">          
                        <%= link_to "Editer le Forum", edit_category_forum_path(@category, forum), class:"btn-warning btn-sm" %>
                        <%= link_to "Supprimer le Forum", category_forum_path(@category, forum), method: :delete, data: { confirm: "Etes-vous sûr?" }, class:"btn-danger btn-sm" %>
                    </div>
                    <% end %>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="howto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Comment ça marche ?</h4>
            </div>
            <div class="modal-body">
                <p>Ici on va expliquer ce que représente un forum de discussion pour nous.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>