<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum :: New topic</title>

</head>

<body>
    <div class="content" style="padding-bottom:5%">
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-8 breadcrumbf">
                <a href="#">Borderlands 2</a> <span class="diviver">&gt;</span> <a href="#">General Discussion</a> <span class="diviver">&gt;</span> <a href="#">New Topic</a>
            </div>
        </div>
    </div>


   <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8"> -->



                <!-- POST -->

                <div class="first_row">
                    <div class="portfolio">

                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="heading">               
                                    <h3>Informations du profil</h3> 
                                </div>
                            </div>  
                        </div>
                        <div class="bio-info">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="bio-image">
                                                <%= image_tag('fbkavatar.jpg') %>
                                            </div> 
                                            <div class="city-content">
                                                <%= @user.city %>
                                            </div>       
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="bio-content">
                                        <h1><%= @user.name %></h1>
                                        <h3>Description</h3>
                                        <p><%= @user.description %></p>

                                        <% if current_user == @user %> <h3>mon email (visible seulement par moi) : <%= current_user.email%> </h3> <% end %>
                                        <% if current_user == @user %>
                                        <div class="centered">
                                            <a class="btn btn-primary btn-lg" href="/users/edit" role="button">Editer</a>

                                        </div>
                                        <% end %>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div> 

                    <!-- POST -->

                   <% if current_user == @user %>
                   <div class="col-lg-4 col-md-4">
                    <div class="sidebarblock">
                        <h3>Mes conversations en cours</h3>
                        <div class="divline"></div>
                        <div class="blocktxt">
                            <a href="#">This Dock Turns Your iPhone Into a Bedside Lamp</a>
                        </div>
                        <div class="divline"></div>
                        <div class="blocktxt">
                            <a href="#">Who Wins in the Battle for Power on the Internet?</a>
                        </div>
                        <div class="divline"></div>
                        <div class="blocktxt">
                            <a href="#">Sony QX10: A Funky, Overpriced Lens Camera for Your Smartphone</a>
                        </div>
                        <div class="divline"></div>
                        <div class="blocktxt">
                            <a href="#">FedEx Simplifies Shipping for Small Businesses</a>
                        </div>
                        <div class="divline"></div>
                        <div class="blocktxt">
                            <a href="#">Loud and Brave: Saudi Women Set to Protest Driving Ban</a>
                        </div>
                    </div>
                    </div> 
                    <% end %> 

                </div>
  </div>

<!-- 
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-xs-12">
                                <div class="pull-left"><a href="#" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
                                <div class="pull-left">
                                    <ul class="paginationforum">
                                        <li class="hidden-xs"><a href="#">1</a></li>
                                        <li class="hidden-xs"><a href="#">2</a></li>
                                        <li class="hidden-xs"><a href="#">3</a></li>
                                        <li class="hidden-xs"><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">6</a></li>
                                        <li><a href="#" class="active">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li class="hidden-xs"><a href="#">9</a></li>
                                        <li class="hidden-xs"><a href="#">10</a></li>
                                        <li class="hidden-xs hidden-md"><a href="#">11</a></li>
                                        <li class="hidden-xs hidden-md"><a href="#">12</a></li>
                                        <li class="hidden-xs hidden-sm hidden-md"><a href="#">13</a></li>
                                        <li><a href="#">1586</a></li>
                                    </ul>
                                </div>
                                <div class="pull-left"><a href="#" class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div> 
 -->




    <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS 
    <script type="text/javascript">

        var revapi;

        jQuery(document).ready(function() {
            "use strict";
            revapi = jQuery('.tp-banner').revolution(
            {
                delay: 15000,
                startwidth: 1200,
                startheight: 278,
                hideThumbs: 10,
                fullWidth: "on"
            });

            });	//ready

        </script>

        <!-- END REVOLUTION SLIDER -->
    </body>
    </html>