
<div class="content">
	<div class="container">
		<div class="row">
			
		<!-- EXPLICATION DIV -->
			<div class="col-lg-6 col-md-6" style="margin-top:1%">
				<div class="post" style="height:120px;">
					<div class="pres">
						<strong style="font-size:20px">Trouvez des membres qui vivent la même experience que vous, dans votre ville ou ailleurs </strong>
					</div>
					<div class="clearfix"></div>
				</div>  
			</div>
		<!-- / EXPLICATION DIV -->

		<!-- SEARCH DIV -->
			<div class="col-lg-6 col-md-6" style="margin-top:1%">
				<div class="post" style="padding-bottom: 18px">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 ">
							<div class="pres">
								<strong style="font-size:20px">Trouvez des membres par : </strong>
							</div>
						</div>
					</div>

					<div class="search_user">
						<div class="row">
							<%= search_form_for(@q, url: "/find", method: :get, class: 'form newtopic') do |f| %>
									<div class="col-lg-9 col-md-9 col-xs-12">
										<div class="input-group">
									<%= f.search_field :illness_cont, :placeholder=>"mot-clef maladie", class: 'form-control' %>
									<span class="input-group-addon">et/ou</span>
									<%= f.search_field :city_cont, :placeholder=>"ville", class: 'form-control' %>
									</div>
									</div>
									<div class="col-lg-3 col-md-3 col-xs-12">
										<%= f.submit "GO", :class=>"btn btn-primary" %>
									</div>
								
							</div>
							<% end %>
						</div>
					</div>
				<div class="clearfix"></div>
			</div>
		<!-- / SEARCH DIV -->

		<!-- USER LIST -->

			<div class="col-lg-12 col-md-12" style="margin-top:1%">
				<div class="post">
					<div class="pres">	
						<br>
						<p>Voici les membres dont le profil correspond à votre recherche, contactez-les ! </p>
						<br>
					</div>
				</div>
			</div>

			<div class="col-lg-12 col-md-12" style="margin-top:1%">
				<div class="post">
					<div class="pres">
						<% @people.each do |user|  %>
						<a href="/users/<%=user.id%>"> Profil de <strong><%= user.name%></strong></a> <br>
						<% end %>
					</div>
				</div>
			</div>

		<!-- USER LIST -->

		</div>
	</div>
</div>
