
<!-- Slider IMG BACKGROUND -->
<header>
  <section class="header-content">
    <div class="tp-banner-container">
        <div class="tp-banner revslider-initialised tp-simpleresponsive" id="revslider-948" style="max-height: 500px; height: 278px;">
            <div class="<%= current_page?("/")? 'header-title animate-pop-in' : 'header-title'  %>">
                <div class="text_logo">
                    <div class="space">
                        <%= image_tag('logo1blanc.png', size:"85") %>
                    </div>
                    <div class="space">
                        <p>KAWAZE</p>  
                    </div>                          
                </div>  
            </div>

            <% unless user_signed_in? %>
            
            <div class="<%= current_page?("/")? 'header-subtitle animate-pop-in' : 'header-subtitle'  %>">
                <div class="button_home_page">
                    <div class="button_sign">
                        <%= link_to "Se connecter", new_user_session_path, class:"btn btn-primary", onClick:"history.go(0)" %>
                    </div>

                    <div class="button_sign">
                        <%= link_to "S'enregistrer", new_user_registration_path, class:"btn btn-primary"  %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>
</header>
<!-- //Slider -->

