
<div class="headernav">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo ">
                <a href="/"><div class="img_logo"><%= image_tag('river1.jpg') %></a></div></div> 
                <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#" >Borderlands 2</a> <b class="caret"></b>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Borderlands 1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-2" href="#">Borderlands 2</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Borderlands 3</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                    <div class="wrap">
                        <form action="#" method="post" class="form">
                            <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search Topics"></div>
                            <div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <% if user_signed_in? %>
                        <%= image_tag('avatar.jpg') %>


                <li class="dropdown show">
                      <a href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
                    <ul class="dropdown-menu pulse animated show">
                      <li><a href="/">My Profile</a></li>
                      <li><a href="/">Home</a></li>
                      <li><a href="/users/edit">Edit my Profile</a></li>
                      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                    </ul>  
                  </li>

                        <% else %>
                        <li class="nav-item"><%= link_to "Sign In", new_user_session_path %></li><br />
                        <li class="nav-item"><%= link_to "Sign UP", new_user_registration_path %>
                        </li>
                        <% end %>
                    </ul>
                        </div>
                <!-- <div class="clearfix"></div> -->
            </div>
        </div>
    </div>
</div>
