<div class="headernav" <%= current_page?("/")? '' : 'headernav-style-two'  %>" data-spy="affix" data-offset-top="273" >
    <div class="container">
        <div class="row">
            <div class="col-lg-1 hidden-xs hidden-sm col-md-2 logo ">
                <a href="/">
                    <div class="img_logo" style="padding:10%">
                        <%= image_tag('logo1.png', size:"45") %>
                    </div>
                </a>
            </div> 

            <div class="col-lg-3 col-xs-9 col-sm-5 col-md-4 avt">
                <div class="stnt pull-left">                            
                    <form class="form">
                        <a href="/find"><button class="btn btn-primary">Trouver des utilisateurs</button></a>
                    </form>
                </div>
            </div>

                <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                            <div class="wrap">
                                <%= search_form_for(@search, url: "/findtopics", method: :get) do |f| %>
                                    <div class="pull-left txt"><%= f.search_field :title_cont, autofocus: true, :placeholder=>"Rechercher un forum par mots clés", :class=>"form-control" %></div>
                                    <div class="pull-right"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></div>
                                    <div class="clearfix"></div>
                                <% end %>
                            </div>
                        </div>


                <% if user_signed_in? %>

                <div class="col-lg-2 col-xs-2 avt">

                  <div class="avatar pull-left dropdown">
                    <a data-toggle="dropdown" href="/" style="text-decoration:none">
                      <%= image_tag('avatar.png') %>
                      <b class="caret"></b>
                  </a>

                  <div class="status green">&nbsp;</div>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a href="/">Accueil</a></li>
                    <li role="presentation"><a href="/users/<%= current_user.id %>">Mon profil</a></li>
                    <li role="presentation"><a href="/users/edit">Modifier mon profil</a></li>
                    <li role="presentation"><%= link_to "Déconnection", destroy_user_session_path, :method => :delete %></li>
                </ul>
            </div>

            <div class="col-lg-2 hidden-xs hidden-sm avt">
              <div class="current_name">
                <%= current_user.name %>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <% end %>

</div>
</div>
</div>

