
<div class="headernav">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo ">
                <a href="/">
                    <div class="img_logo">
                        <%= image_tag('river1.jpg') %>
                    </div>
                </a>
            </div> 
            <div class="col-lg-3 col-xs-5 col-sm-5 col-md-3 selecttopic">
                <div class="dropdown">
                    <a data-toggle="dropdown" href="" >Borderlands 2</a> 
                    <b class="caret"></b>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="">  Borderlands 1</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-2" href="">Borderlands 2</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-3" href="">Borderlands 3</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                    <div class="wrap">
                        <form action="#" method="post" class="form">
                            <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search Topics"></div>
                            <div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                    <% if user_signed_in? %>
                    
                            <div class="avatar pull-left dropdown">
                                <a data-toggle="dropdown" href="#">
                                      <%= image_tag('avatar.jpg') %>

                                </a> 
                                <b class="caret"></b>
                                <div class="status green">&nbsp;</div>
                                <div><%= current_user.name %></div>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Profile</a></li>
                                    <li role="presentation"><a href="/users/edit">Edit my Profile</a></li>
                                    <li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                                </ul>

                            </div>
                          <div class="clearfix"></div>
            </div>
                      <% else %>
                      <li class="nav-item"><%= link_to "Sign In", new_user_session_path %></li><br />
                      <li class="nav-item"><%= link_to "Sign UP", new_user_registration_path %>
                      </li>
                      <% end %>
                  </ul>
              </div>
              <!-- <div class="clearfix"></div> -->
          </div>
      </div>
  </div>
</div>
