<div class="headernav">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo ">
                <a href="/"><div class="img_logo"><%= image_tag('river1.jpg') %></a></div></div> 
                <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#" >Borderlands 2</a> <b class="caret"></b>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Borderlands 1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-2" href="#">Borderlands 2</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Borderlands 3</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                    <div class="wrap">
                        <form action="#" method="post" class="form">
                            <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search Topics"></div>
                            <div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>

                <div>
                    <% if user_signed_in? %>
                    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
                    <%= current_user.name %>
                    <% else %>
                    <%= link_to "Sign In", new_user_session_path %>
                    <%= link_to "Sign UP", new_user_registration_path %>
                    <% end %>
                </div>

                <div class="avatar pull-left dropdown">
                    <a data-toggle="dropdown" href="#"><%= image_tag('avatar.jpg') %><!-- <img src="images/avatar.jpg" alt="" /> --></a> <b class="caret"></b>
                    <div class="status green">&nbsp;</div>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Profile</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-2" href="#">Inbox</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Log Out</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-4" href="04_new_account.html">Create account</a></li>
                    </ul>
                </div>
                <!-- <div class="clearfix"></div> -->
            </div>
        </div>
    </div>
</div>
